@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
  /* ## Colors */

  --Very-Dark-Grayish-Blue: #48556a;
  --Desaturated-Dark-Blue: #6d7f97;
  --Grayish-Blue: #9eafc2;
  --Light-Grayish-Blue: #ecf2f8;

  /* ## Typography */

  /* ### Body Copy */

  --Font-size: 13px;

  /* ### Headings */

  --Family: 'Manrope', sans-serif;
  --Weights: 500, 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: var(--Family);
}

/* Utility */
.m-b {
  margin-bottom: 30px;
}
p {
  font-size: var(--Font-size);
  font-weight: 500;
  color: var(--Desaturated-Dark-Blue);
}
h2 {
  font-size: 22px;
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
}
/* Component */
.component {
  display: grid;
  place-items: center;
  margin: 13% auto;
}
.container {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  width: 51%;
  height: 100%;
}

.drawer-img {
  width: 20%;
  overflow: hidden;
  flex: 20%;
}
.drawer {
  width: 130%;
  height: 100%;
  border-radius: 20px;
}
/* Preview-content */
.preview-content {
  flex: 40%;
  padding: 2rem;
}

/* Contact */
.contact {
  display: flex;
  justify-content: space-between;
}
.info {
  display: flex;
  gap: 1rem;
}
.profile-img {
  width: 50px;
  border-radius: 50%;
  cursor:pointer;
}

.share-icon {
  position: relative;
  outline: none;
  border: none;
  background: transparent;
  margin-top: 7px;
  width: 6%;
  height: 5%;
  text-align: center;
  background-color: var(--Light-Grayish-Blue);
  padding: 0.1rem 0.1rem;
  border-radius: 50%;
}
.share-icon:hover {
  fill: #fff;
  background-color: var(--Grayish-Blue);
}
/* socials */
.socials {
  display: none;
  gap: 0.8rem;

  letter-spacing: 1.5px;
  position: absolute;
  bottom: 60px;
  left: -6rem;
  color: var(--Light-Grayish-Blue);
  border-radius: 10px;
  background-color: var(--Very-Dark-Grayish-Blue);
  padding: 0.7rem 1.5rem;
}

.active {
  transition: all 0.8s ease-in-out;
  display: flex;
  background-color: var(--Desaturated-Dark-Blue);
}
